.container {
    background-color: #e6e9ed;
    width: 450px;
    height: 550px;
    padding-top: 40px;
}

.inp-div {
    padding-top: 30px;
    width: 300px;
    margin: 10px;
}

.bodyy {

background-image: url(src/assets/signupbg.jpg);


padding-top: 100px;
}