#header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    background-color: lightblue;
    font-family: sans-serif;
    font-size: 20px;
    height: 70px;
}

.padding {
    padding-right: 10px;
}



#filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#filters.select {
    width: 100px;
}

body {
    background-image: url(assets/loginbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cardss {
    display: flex;
      
    height: 300px;
    justify-content: space-between;
}


.cards-div {
    /* border: solid black; */
    height: 200px;
    box-shadow: grey 0px 4px 4px;
    margin-left: 20px;
    
    
}

.cardss-div {
    /* border: solid black; */
    height: 200px;
    box-shadow: grey 0px 4px 4px;
    margin-right: 20px;
    
}
#chartDiv{

    width: 1400px;
    height: 600px;
    margin-left: 50px;
    background-color: white;
}

.small-cards {

    box-shadow: grey 0px 4px 4px;
}